* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

#canvas1 {
    position: absolute;
    top : 0;
    left: 0;
    background: linear-gradient(#231646, #4d0941);
}


img {
    display:none;
}